#menu {
  background-color: antiquewhite;
  display: flex;
  visibility: hidden;
  transition: all 1s ease;
  list-style: none;
  justify-content: space-around;
  /*width: 40vw;*/
  /*height: 0%;*/
  opacity: 0;
}

/*input[type="checkbox"]*/
#click {
  display: none;
}

/* id값 or */
/* label[for="click"] or */
#click + label {
  display: inline-block;
  background: url("../img/8679886_checkbox_blank_line_icon.png");
  cursor: pointer;
  width: 48px;
  height: 48px;
}

#click:checked + label {
  display: inline-block;
  background: url("../img/8679969_checkbox_line_icon.png");
  cursor: pointer;
  width: 48px;
  height: 48px;
}

#click:checked ~ #menu {
  visibility: visible;
  /*width: 100vw;*/
  /*height: 20%;*/
  opacity: 1;
}
